<footer class="footer footer-typography">
  <div class="container footer-container">
    <div class="footer-about">
      <div class="logo-wrapper">
        <svg class="footer-logo" width="16" height="16">
          <use href="img/footer-logo.svg#icon-logo1"></use>
        </svg>
        <svg class="footer-logo" width="148" height="12">
          <use href="img/footer-logo.svg#icon-logo2"></use>
        </svg>
      </div>

      <div class="footer-slogan">
        Whether you're looking for a healthy snack or a thoughtful gift,
        our fruit baskets are the perfect choice.
      </div>
    </div>
    <ul class="footer-big-nav">
      <li><a href="#howItWorks" class="footer-big-nav-link footer-typography">how it works</a></li>
      <li><a href="#vegetables" class="footer-big-nav-link footer-typography">vegetables</a></li>
      <li><a href="#reviews" class="footer-big-nav-link footer-typography">reviews</a></li>
    </ul>
    <ul class="footer-contacts">
      <li class="footer-contacts-item footer-typography"><a href="#"> +380 (68) 443-94-26</a></li>
      <li class="footer-contacts-item  footer-typography">1678 S. Pioneer Road Salt Lake City UT 84104</li>
    </ul>
    <ul class="footer-nav">
      <li class="footer-nav-item"><a href="#" class="footer-nav-link"> Privacy Policy</a></li>
      <li class="footer-nav-item"><a href="#" class="footer-nav-link">Cookie settings</a></li>
    </ul>
    <p class="footer-rights">©Green Harvest 2023</p>
  </div>
</footer>
