<header class="header" >
    <div class="container header-container">
        <nav class="nav">
            <a class="nav-logo"  href="/src/index.html">
            <svg width="16" height="16">
                <use href="./img/icons_header.svg#icon-vector"></use> 
            </svg>
            
            <svg width="148" height="12">
                <use href="./img/icons_header.svg#icon-text"></use>
            </svg>
            </a>

                <ul class="nav-list">
                    <li class="header-info">
                        <a href="#howitwork" class="nav-link">How It Works</a>
                    </li>
                    <li class="header-info">
                        <a href="#vegetables" class="nav-link">Vegetables</a>
                    </li>
                    <li class="header-info">
                        <a href="#reviews" class="nav-link">Reviews</a>
                    </li>
                </ul>
                <button class="shop" type="button">SHOP NOW</button> 

        </nav>
        <button class="menu-button" type="button" data-menu-open>
            <svg class="menu-icon" width="32" height="32">
                <use href="./img/icons_header.svg#icon-heroicons"></use>
            </svg>
        </button>
    </div>
</header>
