<div class="mobile-menu" data-modal-menu>
  <button class="close-btn" data-menu-mobile-close>
    <svg class="" width="32" height="32">
      <use href="img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="menu-overlay">
    <nav class="menu">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-items">
          <a href="#howitworks" class="menu-item" data-btn-mobile
            >How It Works</a
          >
        </li>
        <li class="mobile-menu-items">
          <a href="#vegetables" class="menu-item" data-btn-mobile>Vegetables</a>
        </li>
        <li class="mobile-menu-items">
          <a href="#section-reviews" class="menu-item" data-btn-mobile
            >Reviews</a
          >
        </li>
      </ul>
    </nav>
    <button class="submit-button">SHOP NOW</button>
  </div>
</div>
