<div class="tab-menu-overlay" data-modal-menu>
  <!--  -->
  <div class="tablet-menu">
    <button class="close-button" type="button" data-menu-table-close>
      <!--  -->
      <svg class="close-btn" width="40" height="40">
        <use href="img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="tablet-menu-list">
      <li class="tablet-menu-items">
        <a class="tab-menu-links" href="#howitworks" data-btn-table
          >How It Works</a
        >
      </li>
      <li class="tablet-menu-items">
        <a class="tab-menu-links" href="#vegetables" data-btn-table
          >Vegetables</a
        >
      </li>
      <li class="tablet-menu-items">
        <a class="tab-menu-links" href="#section-reviews" data-btn-table
          >Reviews</a
        >
      </li>
    </ul>
    <button class="submit-button" type="submit">SHOP NOW</button>
  </div>
</div>
