<div class="tab-menu-overlay">
    <div class="tablet-menu">
     <button class="close-button" type="button">
        <svg class="close-btn" width="40" height="40">
            <use href="../img/sprite.svg#icon-x"></use>
        </svg>
     </button>
     <ul class="tablet-menu-list">
         <li class="tablet-menu-items"><a class="tab-menu-links" href="./howItWorks.html">How It Works</a></li>
         <li class="tablet-menu-items"><a class="tab-menu-links" href="./vegetables.html">Vegetables</a></li>
         <li class="tablet-menu-items"><a class="tab-menu-links" href="./reviews.html">Reviews</a></li>
     </ul>
     <button class="submit-button" type="submit">SHOP NOW</button>
    </div>
 </div>