<section id="vegetables" class="vegetables-section">
    <div class="container vegetables-container">
        <h2 class="vegetables-title">organic vegetables</h2>
        <p class="our-organic">Our organic vegetables are hand-picked from local farms and delivered straight to your
            doorstep, ensuring that you get
            the freshest and most nutritious produce possible.</p>
        <ul class="vegetables-cards">
            <li class="vegetables-lists">
                <p class="name-vegetables">eggplant</p>
                <p class="vegetables-kg">60 USD / kg</p>
                <div class="vegetables-foto">
                    <img srcset="./mobile/eggplant@1x.jpg" , srcset="./mobile/eggplant@2x.jpg"
                        src="./mobile/eggplant@1x.jpg" alt="eggplant" width="280">
                </div>
            </li>
            <li class="vegetables-lists">
                <p class="name-vegetables">leek</p>
                <p class="vegetables-kg">50 USD / kg</p>
                <div class="vegetables-foto">
                    <img srcset="./mobile/onion@1x.jpg" , srcset="./mobile/onion@2x.jpg" src="./mobile/onion@1x.jpg"
                        alt="leek" width="280">
                </div>
            </li>
            <li class="vegetables-lists">
                <p class="name-vegetables">mushrooms</p>
                <p class="vegetables-kg">40 USD / kg</p>
                <div class="vegetables-foto">
                    <img srcset="./mobile/champ@1x.jpg" , srcset="./mobile/champ@2x.jpg" src="./mobile/champ@1x.jpg"
                        alt="champ" width="280">
                </div>
            </li>
            <li class="vegetables-lists">
                <p class="name-vegetables">corn</p>
                <p class="vegetables-kg">60 USD / kg</p>
                <div class="vegetables-foto">
                    <img srcset="./mobile/corn@1x.jpg" , srcset="./mobile/corn@2x.jpg" src="./mobile/corn@1x.jpg"
                        alt="corn" width="280">
                </div>
            </li>
            <li class="vegetables-lists">
                <p class="name-vegetables">sweet potatoes</p>
                <p class="vegetables-kg">50 USD / kg</p>
                <div class="vegetables-foto">
                    <img srcset="./mobile/batata@1x.jpg" , srcset="./mobile/batata@2x.jpg" src="./mobile/batata@1x.jpg"
                        alt="sweet potatoes" width="280">
                </div>
            </li>
            <li class="vegetables-lists">
                <p class="name-vegetables">carrot</p>
                <p class="vegetables-kg">40 USD / kg</p>
                <div class="vegetables-foto">
                    <img srcset="./mobile/carrot@1x.jpg" , srcset="./mobile/carrot@2x.jpg" src="./mobile/carrot@1x.jpg"
                        alt="carrot" width="280">
                </div>
            </li>
        </ul>
    </div>

</section>
