<section id="vegetables" class="vegetables-section">
  <div class="container vegetables-container">
    <h2 class="vegetables-title">
      ORGANIC<span class="vegetables-part">VEGETABLES</span>
    </h2>
    <p class="our-organic">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-cards">
      <li class="vegetables-lists">
        <div class="vegetables-foto">
          <h3 class="name-vegetables">eggplant</h3>
          <p class="vegetables-kg">60 USD / kg</p>
        </div>
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="img/mobile/eggplant@1x.jpg, img/mobile/eggplant@2x.jpg"
          />
          <source
            media="(min-width: 768px) and (max-width: 1157px)"
            srcset="img/table/eggplant@1x.jpg, img/table/eggplant@2x.jpg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="img/desktop/eggplant@1x.jpg, img/desktop/eggplant@2x.jpg"
          />
          <img
            src="img/desktop/eggplant@1x.jpg"
            alt="eggplant"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-lists">
        <div class="vegetables-foto">
          <h3 class="name-vegetables">leek</h3>
          <p class="vegetables-kg">50 USD / kg</p>
        </div>
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="img/mobile/onion@1x.jpg, img/mobile/onion@2x.jpg"
          />
          <source
            media="(min-width: 768px) and (max-width: 1157px)"
            srcset="img/table/onion@1x.jpg, img/table/onion@2x.jpg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="img/desktop/onion@1x.jpg, img/desktop/onion@2x.jpg"
          />
          <img
            src="img/desktop/onion@1x.jpg"
            alt="leek"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-lists">
        <div class="vegetables-foto">
          <h3 class="name-vegetables">mushrooms</h3>
          <p class="vegetables-kg">40 USD / kg</p>
        </div>
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="img/mobile/champ@1x.jpg, img/mobile/champ@2x.jpg"
          />
          <source
            media="(min-width: 768px) and (max-width: 1157px)"
            srcset="img/table/champ@1x.jpg, img/table/champ@2x.jpg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="img/desktop/champ@1x.jpg, img/desktop/champ@2x.jpg"
          />
          <img
            src="img/desktop/champ@1x.jpg"
            alt="champ"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-lists">
        <div class="vegetables-foto">
          <h3 class="name-vegetables">corn</h3>
          <p class="vegetables-kg">60 USD / kg</p>
        </div>
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="img/mobile/corn@1x.jpg, img/mobile/corn@2x.jpg"
          />
          <source
            media="(min-width: 768px) and (max-width: 1157px)"
            srcset="img/table/corn@1x.jpg, img/table/corn@2x.jpg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="img/desktop/corn@1x.jpg, img/desktop/corn@2x.jpg"
          />
          <img
            src="img/desktop/corn@1x.jpg"
            alt="corn"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-lists">
        <div class="vegetables-foto">
          <h3 class="name-vegetables">sweet potatoes</h3>
          <p class="vegetables-kg">50 USD / kg</p>
        </div>
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="img/mobile/batata@1x.jpg, img/mobile/batata@2x.jpg"
          />
          <source
            media="(min-width: 768px) and (max-width: 1157px)"
            srcset="img/table/batata@1x.jpg, img/table/batata@2x.jpg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="img/desktop/batata@1x.jpg, img/desktop/batata@2x.jpg"
          />
          <img
            src="img/desktop/batata@1x.jpg"
            alt="sweet potatoes"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-lists">
        <div class="vegetables-foto">
          <h3 class="name-vegetables">carrot</h3>
          <p class="vegetables-kg">40 USD / kg</p>
        </div>
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="img/mobile/carrot@1x.jpg, img/mobile/carrot@2x.jpg"
          />
          <source
            media="(min-width: 768px) and (max-width: 1157px)"
            srcset="img/table/carrot@1x.jpg, img/table/carrot@2x.jpg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="img/desktop/carrot@1x.jpg, img/desktop/carrot@2x.jpg"
          />
          <img
            src="img/desktop/carrot@1x.jpg"
            alt="carrot"
            width="280"
            height="240"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
