<section id="vegetables" class="vegetables-section">
  <div class="container vegetables-container">
    <h2 class="vegetables-title">
      ORGANIC<span class="vegetables-part">VEGETABLES</span>
    </h2>
    <p class="our-organic">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-cards">
      <li class="vegetables-lists">
        <div class="vegetables-foto">
          <h3 class="name-vegetables">eggplant</h3>
          <p class="vegetables-kg">60 USD / kg</p>
        </div>
        <img
          srcset="img/images/mobile/eggplant@1x.jpg"
          srcset="img/images/mobile/eggplant@2x.jpg"
          src="img/images/mobile/eggplant@1x.jpg"
          alt="eggplant"
          width="280"
        />
      </li>
      <li class="vegetables-lists">
        <div class="vegetables-foto">
          <h3 class="name-vegetables">leek</h3>
          <p class="vegetables-kg">50 USD / kg</p>
        </div>
        <img
          srcset="img/images/mobile/onion@1x.jpg"
          srcset="img/images/mobile/onion@2x.jpg"
          src="img/images//mobile/onion@1x.jpg"
          alt="leek"
          width="280"
        />
      </li>
      <li class="vegetables-lists">
        <div class="vegetables-foto">
          <h3 class="name-vegetables">mushrooms</h3>
          <p class="vegetables-kg">40 USD / kg</p>
        </div>
        <img
          srcset="img/images/mobile/champ@1x.jpg"
          srcset="img/images/mobile/champ@2x.jpg"
          src="img/images/mobile/champ@1x.jpg"
          alt="champ"
          width="280"
        />
      </li>
      <li class="vegetables-lists">
        <div class="vegetables-foto">
          <h3 class="name-vegetables">corn</h3>
          <p class="vegetables-kg">60 USD / kg</p>
        </div>
        <img
          srcset="img/images/mobile/corn@1x.jpg"
          srcset="img/images/mobile/corn@2x.jpg"
          src="img/images/mobile/corn@1x.jpg"
          alt="corn"
          width="280"
        />
      </li>
      <li class="vegetables-lists">
        <div class="vegetables-foto">
          <h3 class="name-vegetables">sweet potatoes</h3>
          <p class="vegetables-kg">50 USD / kg</p>
        </div>
        <img
          srcset="img/images/mobile/batata@1x.jpg"
          srcset="img/images/mobile/batata@2x.jpg"
          src="img/images/mobile/batata@1x.jpg"
          alt="sweet potatoes"
          width="280"
        />
      </li>
      <li class="vegetables-lists">
        <div class="vegetables-foto">
          <h3 class="name-vegetables">carrot</h3>
          <p class="vegetables-kg">40 USD / kg</p>
        </div>
        <img
          srcset="img/images/mobile/carrot@1x.jpg"
          srcset="img/images/mobile/carrot@2x.jpg"
          src="img//images//mobile/carrot@1x.jpg"
          alt="carrot"
          width="280"
        />
      </li>
    </ul>
  </div>
</section>
