<section class="your-order" id="your-order">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="order-title">
        Fresh <span class="order-title-span">Harvest</span> Box has got you
        covered
      </h2>
      <p class="order-subtitle">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>

    <div class="order-card-wrap">
      <div class="order-card">
        <div class="card-left-inner">
          <h3 class="left-inner-desc">
            Ordering <span class="span-bordo">from us</span> is quick and easy!
            Fill out <span class="span-green">the form</span> below and we will
            contact you !
          </h3>

          <form class="order-form">
            <input
              type="text"
              name="user-name"
              class="text-input"
              placeholder="Full name"
              pattern="([A-z]{1,15})"
              required
            />

            <input
              type="email"
              name="user-email"
              class="text-input"
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />

            <textarea
              name="user-comment"
              class="text-input user-comment"
              placeholder="Comment"
            ></textarea>

            <button type="submit" class="submit-btn">Send</button>
          </form>
        </div>
      </div>

      <div class="order-card card-right">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="img/order_mobile.jpg 1x, img/order_mobile@2x.jpg 2x"
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="img/order_tablet.jpg 1x, img/order_tablet@2x.jpg 2x"
          />
          <source
            media="(min-width: 1280px)"
            srcset="img/order_desk.jpg 1x, img/order_desk@2x.jpg 2x"
          />
          <img
            src="img/order_desk.jpg"
            alt="A woman making smoothie"
            class="order-card-img"
            width="295"
            height="272"
          />
        </picture>

        <div class="order-card-inner">
          <p class="inner-desc">Follow us on our social networks:</p>
          <ul class="inner-links">
            <li class="inner-links-item">
              <a
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener no-referrer"
              >
                Instagram
              </a>
            </li>

            <li class="inner-links-item">/</li>

            <li class="inner-links-item">
              <a
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener no-referrer"
              >
                Facebook
              </a>
            </li>

            <li class="inner-links-item">/</li>

            <li class="inner-links-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                rel="noopener no-referrer"
              >
                YouTube
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
