.container-adv {
  padding: 0 20px;
  height: 312px;
  gap: 10px;
}
.advertisement {
  padding: 80px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advertisement-text-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  height: 312px;
}
#rectangle {
  display: inline-block;
  border-radius: 12px;
  
  height: 102px;
  background-color: #576f35;
}
.block-green {
  color: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .container-adv {
    padding: 0 32px;
    height: 288px;
    margin-right: auto;
    width: 100%;
        
  }
  .advertisement {
    padding: 100px 0;
   
  }
  .advertisement-text-title {
    font-size: 64px;
    line-height: 1;
    padding-top: 20px;
    width: 704px;
    height: 276px;
   

  }
  #rectangle {
    display: block;
    border-radius: 12px;
    width: 675px;
    height: 86px;
    background-color: #576f35;

  }
}

@media only screen and (min-width: 1280px) {
  .container-adv {
    width: 100%;
    height: 228px;
    padding: 0 100px;
    }
  .advertisement-item {
    display: inline;
    flex-direction: row;
  }
  #rectangle {
    display: inline-block;
    border-radius: 12px;
    width: 808px;
    height: 84px;
    background-color: #576f35;
  }

  .advertisement-text-title {
    text-align: left;
    font-size: 76px;
    width: 1080px;
    max-height: 228px;
    padding-top: 4px;
    padding-left: 16px;
  }
}
