
.footer-container {
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 40px 0;
  background: #7A3145;
}

.footer-typography {
  color:  #FBFBFB;
  font-style: normal;
}

.footer-logo {

}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer-logo {
  fill: #FBFBFB;
}

.footer-slogan {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  padding: 0;
  margin-top: 16px;
}

.footer-big-nav-wrapper {
  margin-top: 40px;
}

.footer-big-nav {
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.footer-big-nav-link {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.footer-contacts {
  display: flex;
  gap: 14px;
  flex-direction: column;
  max-width: 179px;
  margin-top: 40px;

}

.footer-contacts-item, .footer-contacts-item a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.43;
}

.footer-nav-wrapper {
  margin-top: 80px;
}

.footer-nav {

  display: flex;
  flex-direction: row;
}

.footer-nav-link, .footer-rights {
  color: #D4BFC4;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.43;
}

.footer-nav-item:not(:last-child) .footer-nav-link:after {
  content: "/";
  margin: 0 8px;
}

.footer-rights {
  margin-top: 16px;
}

