@media only screen and (min-width: 768px) {
  .tab-menu-overlay .container {
    max-width: 768px;
  }
  .tab-menu-overlay {
    position: fixed;
    background-color: rgba(20, 20, 20, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
    transition-property: transform;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  .tab-menu-overlay .is-open {
    transform: translateX(0%);
  }
  .tablet-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 351px;
    height: 100%;
    background-color: #576f35;
    top: 0;
    right: 0;
    padding: 72px 97px 48px 97px;
  }
  .tablet-menu-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  .tablet-menu-items {
    display: flex;

    border-radius: 12px;
    padding: 0;
    text-align: center;
    min-width: 123px;
    height: 44px;
    border: 1px solid #fbfbfb;
  }
  .tablet-menu-items:focus-within,
  .tablet-menu-items:hover {
    background-color: #fbfbfb;
  }
  .tab-menu-links:focus,
  .tab-menu-links:hover {
    color: #7a3145;
    outline: none;
  }
  .tab-menu-links {
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: #fbfbfb;
    text-decoration: none;
    line-height: 44px;
    box-sizing: border-box;
  }
  .submit-button {
    display: block;
    border-radius: 30px;
    padding: 16px 32px;
    min-width: 157px;
    background-color: #7a3145;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    border: none;
    text-align: center;
    cursor: pointer;
  }
  .submit-button:focus {
    background-color: #fbfbfb;
    color: #7a3145;
  }

  .close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    top: 32px;
    right: 32px;
    border: none;
    background-color: transparent;
  }
  .close-btn {
    width: 40px;
    height: 40px;
    stroke: #fbfbfb;
  }
}
@media only screen and (max-width: 768px) {
  .tab-menu-overlay {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .tab-menu-overlay {
    display: none;
  }
}
